body {
    margin:0px;
   
}
#contentBox{
    background-color:  rgb(255, 193, 78);
    width: 30vw;
    height: 70vh;
    border-radius: 20px;
    padding-top: 5vh;
    padding-left:7vh;
    padding-right:7vh;
    margin-left:0vw;
    margin-top:1vw;
    border: solid white 7px;
    float:left;
    margin-bottom:3vh;
    
}