body {
    margin:0px;
}
#Banner {
    background-color: green;
    width: 100vw;
    height: 9vw;
   
}
#words {
    padding-top:0vh;
    font-size: 7vw;
    font-weight: 600;
    margin: 0 auto;
    font-family: Courier, monospace;
  
 
}
#orangeWord {

color: orange;
float:left;
padding-left:19%;
padding-right:15px;


}
#blueWord {

color: blue;
float:left;

}

