body {
    margin:0px;
}
#Banner {
    background-color: white;
    width: 100vw;
    height: 9vw;
    border-bottom: solid 1vh rgb(113, 113, 219);
    border-top: solid .5vh rgb(255, 193, 78);
   
}
#words {
    padding-top:0vh;
    font-size: 7vw;
    font-weight: 600;
    margin: 0 auto;
    font-family: Courier, monospace;
  
 
}
#orangeWord {

color: rgb(255, 193, 78);
float:left;
padding-left:19%;
padding-right:15px;


}
#blueWord {

color: rgb(113, 113, 219);
float:left;

}

